In [1]:
import pandas as pd

In [2]:
key_rate = pd.read_excel('00_key_rate.xlsx')

In [4]:
key_rate['date'][0].day

23

In [5]:
day_points = [1, 5, 10, 15, 20, 25, 28]

In [6]:
# df = key_rate.to_frame()

In [12]:
key_rate['day'] = key_rate['date']

In [13]:
key_rate

         date  rate        day
0  2020-09-23  4.25 2020-09-23
1  2020-09-22  4.25 2020-09-22
2  2020-09-21  4.25 2020-09-21
3  2020-09-18  4.25 2020-09-18
4  2020-09-17  4.25 2020-09-17
5  2020-09-16  4.25 2020-09-16
6  2020-09-15  4.25 2020-09-15
7  2020-09-14  4.25 2020-09-14
8  2020-09-11  4.25 2020-09-11
9  2020-09-10  4.25 2020-09-10
10 2020-09-09  4.25 2020-09-09
11 2020-09-08  4.25 2020-09-08
12 2020-09-07  4.25 2020-09-07
13 2020-09-04  4.25 2020-09-04
14 2020-09-03  4.25 2020-09-03
15 2020-09-02  4.25 2020-09-02
16 2020-09-01  4.25 2020-09-01
17 2020-08-31  4.25 2020-08-31
18 2020-08-28  4.25 2020-08-28
19 2020-08-27  4.25 2020-08-27
20 2020-08-26  4.25 2020-08-26
21 2020-08-25  4.25 2020-08-25
22 2020-08-24  4.25 2020-08-24
23 2020-08-21  4.25 2020-08-21
24 2020-08-20  4.25 2020-08-20
25 2020-08-19  4.25 2020-08-19
26 2020-08-18  4.25 2020-08-18
27 2020-08-17  4.25 2020-08-17
28 2020-08-14  4.25 2020-08-14
29 2020-08-13  4.25 2020-08-13
..        ...   ...        ...
52 2020-07-13  4.50 2020-07-13
53 2020-07-10  4.50 2020-07-10
54 2020-07-09  4.50 2020-07-09
55 2020-07-08  4.50 2020-07-08
56 2020-07-07  4.50 2020-07-07
57 2020-07-06  4.50 2020-07-06
58 2020-07-03  4.50 2020-07-03
59 2020-07-02  4.50 2020-07-02
60 2020-06-30  4.50 2020-06-30
61 2020-06-29  4.50 2020-06-29
62 2020-06-26  4.50 2020-06-26
63 2020-06-25  4.50 2020-06-25
64 2020-06-23  4.50 2020-06-23
65 2020-06-22  4.50 2020-06-22
66 2020-06-19  5.50 2020-06-19
67 2020-06-18  5.50 2020-06-18
68 2020-06-17  5.50 2020-06-17
69 2020-06-16  5.50 2020-06-16
70 2020-06-15  5.50 2020-06-15
71 2020-06-11  5.50 2020-06-11
72 2020-06-10  5.50 2020-06-10
73 2020-06-09  5.50 2020-06-09
74 2020-06-08  5.50 2020-06-08
75 2020-06-05  5.50 2020-06-05
76 2020-06-04  5.50 2020-06-04
77 2020-06-03  5.50 2020-06-03
78 2020-06-02  5.50 2020-06-02
79 2020-06-01  5.50 2020-06-01
80 2020-05-29  5.50 2020-05-29
81 2020-05-28  5.50 2020-05-28

[82 rows x 3 columns]

In [14]:
key_rate['day'] = (key_rate.apply(lambda x: x['day'].day, axis=1))

In [10]:
key_rate

         date  rate
0  2020-09-23  4.25
1  2020-09-22  4.25
2  2020-09-21  4.25
3  2020-09-18  4.25
4  2020-09-17  4.25
5  2020-09-16  4.25
6  2020-09-15  4.25
7  2020-09-14  4.25
8  2020-09-11  4.25
9  2020-09-10  4.25
10 2020-09-09  4.25
11 2020-09-08  4.25
12 2020-09-07  4.25
13 2020-09-04  4.25
14 2020-09-03  4.25
15 2020-09-02  4.25
16 2020-09-01  4.25
17 2020-08-31  4.25
18 2020-08-28  4.25
19 2020-08-27  4.25
20 2020-08-26  4.25
21 2020-08-25  4.25
22 2020-08-24  4.25
23 2020-08-21  4.25
24 2020-08-20  4.25
25 2020-08-19  4.25
26 2020-08-18  4.25
27 2020-08-17  4.25
28 2020-08-14  4.25
29 2020-08-13  4.25
..        ...   ...
52 2020-07-13  4.50
53 2020-07-10  4.50
54 2020-07-09  4.50
55 2020-07-08  4.50
56 2020-07-07  4.50
57 2020-07-06  4.50
58 2020-07-03  4.50
59 2020-07-02  4.50
60 2020-06-30  4.50
61 2020-06-29  4.50
62 2020-06-26  4.50
63 2020-06-25  4.50
64 2020-06-23  4.50
65 2020-06-22  4.50
66 2020-06-19  5.50
67 2020-06-18  5.50
68 2020-06-17  5.50
69 2020-06-16  5.50
70 2020-06-15  5.50
71 2020-06-11  5.50
72 2020-06-10  5.50
73 2020-06-09  5.50
74 2020-06-08  5.50
75 2020-06-05  5.50
76 2020-06-04  5.50
77 2020-06-03  5.50
78 2020-06-02  5.50
79 2020-06-01  5.50
80 2020-05-29  5.50
81 2020-05-28  5.50

[82 rows x 2 columns]

In [11]:
key_rate_days = key_rate[key_rate['day'].isin(day_points)]

KeyError: 'day'

In [38]:
key_rate_days = key_rate_days.sort_values(by='Дата')

In [45]:
key_rate_days

           Дата  Ставка  day
1709 2013-09-20    5.50   20
1706 2013-09-25    5.50   25
1702 2013-10-01    5.50    1
1695 2013-10-10    5.50   10
1692 2013-10-15    5.50   15
1684 2013-10-25    5.50   25
1683 2013-10-28    5.50   28
1679 2013-11-01    5.50    1
1678 2013-11-05    5.50    5
1670 2013-11-15    5.50   15
1667 2013-11-20    5.50   20
1664 2013-11-25    5.50   25
1661 2013-11-28    5.50   28
1656 2013-12-05    5.50    5
1653 2013-12-10    5.50   10
1645 2013-12-20    5.50   20
1642 2013-12-25    5.50   25
1636 2014-01-10    5.50   10
1633 2014-01-15    5.50   15
1630 2014-01-20    5.50   20
1624 2014-01-28    5.50   28
1618 2014-02-05    5.50    5
1615 2014-02-10    5.50   10
1607 2014-02-20    5.50   20
1604 2014-02-25    5.50   25
1601 2014-02-28    5.50   28
1598 2014-03-05    7.00    5
1588 2014-03-20    7.00   20
1585 2014-03-25    7.00   25
1582 2014-03-28    7.00   28
...         ...     ...  ...
131  2020-02-05    6.25    5
128  2020-02-10    6.00   10
120  2020-02-20    6.00   20
118  2020-02-25    6.00   25
115  2020-02-28    6.00   28
111  2020-03-05    6.00    5
109  2020-03-10    6.00   10
101  2020-03-20    6.00   20
98   2020-03-25    6.00   25
93   2020-04-01    6.00    1
86   2020-04-10    6.00   10
83   2020-04-15    6.00   15
80   2020-04-20    6.00   20
74   2020-04-28    5.50   28
70   2020-05-05    5.50    5
63   2020-05-15    5.50   15
60   2020-05-20    5.50   20
57   2020-05-25    5.50   25
54   2020-05-28    5.50   28
52   2020-06-01    5.50    1
48   2020-06-05    5.50    5
45   2020-06-10    5.50   10
43   2020-06-15    5.50   15
36   2020-06-25    4.50   25
26   2020-07-10    4.50   10
23   2020-07-15    4.50   15
20   2020-07-20    4.50   20
14   2020-07-28    4.25   28
8    2020-08-05    4.25    5
5    2020-08-10    4.25   10

[398 rows x 3 columns]

In [43]:
key_rate_res = key_rate_days[['Дата', 'Ставка'] ]
key_rate_res.rename(columns={"Дата": "date", "Ставка": "rate"})

           date  rate
1709 2013-09-20  5.50
1706 2013-09-25  5.50
1702 2013-10-01  5.50
1695 2013-10-10  5.50
1692 2013-10-15  5.50
1684 2013-10-25  5.50
1683 2013-10-28  5.50
1679 2013-11-01  5.50
1678 2013-11-05  5.50
1670 2013-11-15  5.50
1667 2013-11-20  5.50
1664 2013-11-25  5.50
1661 2013-11-28  5.50
1656 2013-12-05  5.50
1653 2013-12-10  5.50
1645 2013-12-20  5.50
1642 2013-12-25  5.50
1636 2014-01-10  5.50
1633 2014-01-15  5.50
1630 2014-01-20  5.50
1624 2014-01-28  5.50
1618 2014-02-05  5.50
1615 2014-02-10  5.50
1607 2014-02-20  5.50
1604 2014-02-25  5.50
1601 2014-02-28  5.50
1598 2014-03-05  7.00
1588 2014-03-20  7.00
1585 2014-03-25  7.00
1582 2014-03-28  7.00
...         ...   ...
131  2020-02-05  6.25
128  2020-02-10  6.00
120  2020-02-20  6.00
118  2020-02-25  6.00
115  2020-02-28  6.00
111  2020-03-05  6.00
109  2020-03-10  6.00
101  2020-03-20  6.00
98   2020-03-25  6.00
93   2020-04-01  6.00
86   2020-04-10  6.00
83   2020-04-15  6.00
80   2020-04-20  6.00
74   2020-04-28  5.50
70   2020-05-05  5.50
63   2020-05-15  5.50
60   2020-05-20  5.50
57   2020-05-25  5.50
54   2020-05-28  5.50
52   2020-06-01  5.50
48   2020-06-05  5.50
45   2020-06-10  5.50
43   2020-06-15  5.50
36   2020-06-25  4.50
26   2020-07-10  4.50
23   2020-07-15  4.50
20   2020-07-20  4.50
14   2020-07-28  4.25
8    2020-08-05  4.25
5    2020-08-10  4.25

[398 rows x 2 columns]

In [44]:
key_rate_res.to_csv('00_key_rate.csv', index = False)

In [47]:
df = pd.read_excel('01_eur_rub.xlsx')

In [48]:
df['day'] = df['date']

In [49]:
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))

In [51]:
df = df[df['day'].isin(day_points)]

In [52]:
df = df.sort_values(by='date')

In [54]:
df = df[['date', 'eur_rub'] ]

In [55]:
df

           date  eur_rub
3    2013-09-20  42.7465
6    2013-09-25  42.9653
9    2013-09-28  43.6497
10   2013-10-01  43.8143
14   2013-10-05  43.7337
17   2013-10-10  43.8471
20   2013-10-15  43.7660
28   2013-10-25  43.7249
33   2013-11-01  43.9406
42   2013-11-15  44.0201
45   2013-11-20  44.0624
51   2013-11-28  44.8262
56   2013-12-05  45.1748
59   2013-12-10  44.9127
67   2013-12-20  45.0628
70   2013-12-25  44.6520
73   2013-12-28  44.8736
75   2014-01-01  45.0559
76   2014-01-10  45.0672
79   2014-01-15  45.4139
87   2014-01-25  46.8985
88   2014-01-28  47.4962
92   2014-02-01  47.6408
94   2014-02-05  47.9535
102  2014-02-15  48.2618
105  2014-02-20  48.9730
108  2014-02-25  48.7959
111  2014-02-28  49.3454
112  2014-03-01  49.5839
114  2014-03-05  49.9520
...         ...      ...
1570 2020-01-28  68.7775
1574 2020-02-01  69.5976
1576 2020-02-05  70.1265
1584 2020-02-15  68.7710
1587 2020-02-20  68.7823
1592 2020-02-28  71.6458
1596 2020-03-05  73.7369
1606 2020-03-20  87.2669
1609 2020-03-25  85.4253
1612 2020-03-28  85.7389
1616 2020-04-10  81.0882
1619 2020-04-15  80.1186
1627 2020-04-25  80.2528
1628 2020-04-28  80.7611
1631 2020-05-01  79.1189
1637 2020-05-15  79.9033
1640 2020-05-20  79.1677
1646 2020-05-28  77.9069
1652 2020-06-05  77.3245
1655 2020-06-10  77.3481
1662 2020-06-20  78.0047
1665 2020-06-25  77.7590
1669 2020-07-01  78.9929
1676 2020-07-10  80.4134
1679 2020-07-15  80.6230
1687 2020-07-25  83.1031
1688 2020-07-28  83.7759
1692 2020-08-01  87.2889
1694 2020-08-05  86.5011
1702 2020-08-15  86.4092

[392 rows x 2 columns]

In [56]:
df.to_csv('01_eur_rub.csv', index = False)

In [57]:
df = pd.read_excel('02_jpy_rub.xlsx')
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')
df = df[['date', 'jpy_rub'] ]

In [60]:
df

           date  jpy_rub
3    2013-09-20  31.9874
6    2013-09-25  32.0943
9    2013-09-28  32.7628
10   2013-10-01  33.1943
14   2013-10-05  33.0643
17   2013-10-10  33.2377
20   2013-10-15  32.8293
28   2013-10-25  32.5020
33   2013-11-01  32.6189
42   2013-11-15  32.7743
45   2013-11-20  32.6833
51   2013-11-28  32.4923
56   2013-12-05  32.3808
59   2013-12-10  31.7973
67   2013-12-20  31.7234
70   2013-12-25  31.3193
73   2013-12-28  31.1472
75   2014-01-01  31.1228
76   2014-01-10  31.6060
79   2014-01-15  32.1410
87   2014-01-25  33.0903
88   2014-01-28  33.8248
92   2014-02-01  34.3169
94   2014-02-05  35.1044
102  2014-02-15  34.6019
105  2014-02-20  34.8163
108  2014-02-25  34.7298
111  2014-02-28  35.2155
112  2014-03-01  35.5414
114  2014-03-05  35.6383
...         ...      ...
1570 2020-01-28  57.1253
1574 2020-02-01  57.9119
1576 2020-02-05  58.1725
1584 2020-02-15  57.7981
1587 2020-02-20  57.8476
1592 2020-02-28  59.6425
1596 2020-03-05  61.5112
1606 2020-03-20  73.5453
1609 2020-03-25  71.2054
1612 2020-03-28  71.4027
1616 2020-04-10  68.5047
1619 2020-04-15  68.1430
1627 2020-04-25  69.4035
1628 2020-04-28  69.4763
1631 2020-05-01  68.1980
1637 2020-05-15  69.1935
1640 2020-05-20  67.4196
1646 2020-05-28  66.0841
1652 2020-06-05  63.2325
1655 2020-06-10  63.6199
1662 2020-06-20  65.0545
1665 2020-06-25  64.6150
1669 2020-07-01  65.4264
1676 2020-07-10  66.0917
1679 2020-07-15  66.2977
1687 2020-07-25  67.3446
1688 2020-07-28  67.8692
1692 2020-08-01  70.1870
1694 2020-08-05  69.2498
1702 2020-08-15  68.5701

[392 rows x 2 columns]

In [61]:
df.to_csv('02_jpy_rub.csv', index = False)

In [62]:
df = pd.read_excel('03_idl_vol.xlsx')
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')
df = df[['date', 'idl_vol'] ]

In [63]:
df

           date  idl_vol
1719 2013-09-20   187.75
1716 2013-09-25   236.75
1712 2013-10-01   162.91
1705 2013-10-10   486.78
1702 2013-10-15   286.02
1694 2013-10-25   223.57
1693 2013-10-28   192.44
1689 2013-11-01   192.02
1688 2013-11-05   253.63
1680 2013-11-15   180.12
1677 2013-11-20   200.31
1674 2013-11-25   237.95
1671 2013-11-28   151.26
1666 2013-12-05   606.62
1663 2013-12-10   368.69
1655 2013-12-20   355.70
1652 2013-12-25   206.08
1646 2014-01-10   196.31
1643 2014-01-15   207.05
1640 2014-01-20   193.30
1634 2014-01-28   175.63
1628 2014-02-05   456.66
1625 2014-02-10   280.43
1617 2014-02-20   172.40
1614 2014-02-25   243.65
1611 2014-02-28   209.53
1608 2014-03-05   260.77
1598 2014-03-20   175.16
1595 2014-03-25   201.13
1592 2014-03-28   186.86
...         ...      ...
130  2020-02-25   791.35
127  2020-02-28   512.36
123  2020-03-05   268.68
121  2020-03-10   451.84
113  2020-03-20   247.47
110  2020-03-25   286.20
105  2020-04-01   226.35
98   2020-04-10    80.43
93   2020-04-15   319.37
89   2020-04-20   227.72
84   2020-04-25     0.00
82   2020-04-28   441.25
78   2020-05-05     1.29
74   2020-05-10     0.00
65   2020-05-20   142.12
62   2020-05-25   147.50
59   2020-05-28   248.20
56   2020-06-01   125.84
52   2020-06-05    75.76
48   2020-06-10   339.92
45   2020-06-15   414.73
40   2020-06-20     0.00
37   2020-06-25   517.40
32   2020-07-01     0.00
25   2020-07-10   171.68
22   2020-07-15    82.70
19   2020-07-20    52.22
13   2020-07-28   216.56
7    2020-08-05   342.65
4    2020-08-10   253.46

[399 rows x 2 columns]

In [65]:
df.to_csv('03_idl_vol.csv', index = False)

In [8]:
df = pd.read_excel('04_bas_dep.xlsx')
df['date'] = df['date'].map(lambda x: pd.datetime(x.year, x.month, 1))
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))

In [9]:
r = pd.date_range(start=df.date.min(), end=df.date.max())
df = df.set_index('date').reindex(r).fillna(method='ffill').rename_axis('date').reset_index()
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')

In [10]:
df

           date     bas_dep  day
0    2012-02-01  25865164.0    1
4    2012-02-05  25865164.0    5
9    2012-02-10  25865164.0   10
14   2012-02-15  25865164.0   15
19   2012-02-20  25865164.0   20
24   2012-02-25  25865164.0   25
27   2012-02-28  25865164.0   28
29   2012-03-01  25709969.0    1
33   2012-03-05  25709969.0    5
38   2012-03-10  25709969.0   10
43   2012-03-15  25709969.0   15
48   2012-03-20  25709969.0   20
53   2012-03-25  25709969.0   25
56   2012-03-28  25709969.0   28
60   2012-04-01  25983220.0    1
64   2012-04-05  25983220.0    5
69   2012-04-10  25983220.0   10
74   2012-04-15  25983220.0   15
79   2012-04-20  25983220.0   20
84   2012-04-25  25983220.0   25
87   2012-04-28  25983220.0   28
90   2012-05-01  26328766.0    1
94   2012-05-05  26328766.0    5
99   2012-05-10  26328766.0   10
104  2012-05-15  26328766.0   15
109  2012-05-20  26328766.0   20
114  2012-05-25  26328766.0   25
117  2012-05-28  26328766.0   28
121  2012-06-01  27253671.0    1
125  2012-06-05  27253671.0    5
...         ...         ...  ...
2949 2020-02-28  64035076.0   28
2951 2020-03-01  64858383.0    1
2955 2020-03-05  64858383.0    5
2960 2020-03-10  64858383.0   10
2965 2020-03-15  64858383.0   15
2970 2020-03-20  64858383.0   20
2975 2020-03-25  64858383.0   25
2978 2020-03-28  64858383.0   28
2982 2020-04-01  68434888.0    1
2986 2020-04-05  68434888.0    5
2991 2020-04-10  68434888.0   10
2996 2020-04-15  68434888.0   15
3001 2020-04-20  68434888.0   20
3006 2020-04-25  68434888.0   25
3009 2020-04-28  68434888.0   28
3012 2020-05-01  67601533.0    1
3016 2020-05-05  67601533.0    5
3021 2020-05-10  67601533.0   10
3026 2020-05-15  67601533.0   15
3031 2020-05-20  67601533.0   20
3036 2020-05-25  67601533.0   25
3039 2020-05-28  67601533.0   28
3043 2020-06-01  66860018.0    1
3047 2020-06-05  66860018.0    5
3052 2020-06-10  66860018.0   10
3057 2020-06-15  66860018.0   15
3062 2020-06-20  66860018.0   20
3067 2020-06-25  66860018.0   25
3070 2020-06-28  66860018.0   28
3073 2020-07-01  67667780.0    1

[708 rows x 3 columns]

In [11]:
df = df[['date', 'bas_dep'] ]
df.to_csv('04_bas_dep.csv', index = False)

In [118]:
df = pd.read_excel('05_req_res.xlsx')

In [119]:
df['date'] = df['date'].map(lambda x: pd.datetime(x.year, x.month, 1))

In [120]:
df['day'] = df['date']

In [121]:
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))

In [122]:
df

         date  req_res  day
0  2012-11-01    419.5    1
1  2012-12-01    425.6    1
2  2013-01-01    441.0    1
3  2013-02-01    446.7    1
4  2013-03-01    449.5    1
5  2013-04-01    473.6    1
6  2013-05-01    487.0    1
7  2013-06-01    497.7    1
8  2013-07-01    507.5    1
9  2013-08-01    501.6    1
10 2013-09-01    506.1    1
11 2013-10-01    507.7    1
12 2013-11-01    506.4    1
13 2013-12-01    402.3    1
14 2014-01-01    404.8    1
15 2014-02-01    412.3    1
16 2014-03-01    439.9    1
17 2014-04-01    430.1    1
18 2014-05-01    430.3    1
19 2014-06-01    427.8    1
20 2014-07-01    428.6    1
21 2014-08-01    446.6    1
22 2014-09-01    427.1    1
23 2014-10-01    432.7    1
24 2014-11-01    451.9    1
25 2014-12-01    470.8    1
26 2015-01-01    496.7    1
27 2015-02-01    491.7    1
28 2015-03-01    504.2    1
29 2015-04-01    483.5    1
..        ...      ...  ...
62 2018-01-01    506.2    1
63 2018-02-01    506.4    1
64 2018-03-01    507.3    1
65 2018-04-01    508.5    1
66 2018-05-01    521.9    1
67 2018-06-01    527.7    1
68 2018-07-01    531.3    1
69 2018-08-01    527.1    1
70 2018-09-01    563.6    1
71 2018-10-01    570.1    1
72 2018-11-01    569.2    1
73 2018-12-01    575.3    1
74 2019-01-01    586.3    1
75 2019-02-01    588.4    1
76 2019-03-01    587.2    1
77 2019-04-01    588.9    1
78 2019-05-01    593.9    1
79 2019-06-01    595.9    1
80 2019-07-01    596.7    1
81 2019-08-01    603.8    1
82 2019-09-01    620.1    1
83 2019-10-01    618.9    1
84 2019-11-01    619.4    1
85 2019-12-01    617.4    1
86 2020-01-01    617.6    1
87 2020-02-01    612.7    1
88 2020-03-01    622.0    1
89 2020-04-01    664.8    1
90 2020-05-01    671.3    1
91 2020-06-01    656.3    1

[92 rows x 3 columns]

In [123]:
r = pd.date_range(start=df.date.min(), end=df.date.max())
df = df.set_index('date').reindex(r).fillna(method='ffill').rename_axis('date').reset_index()

In [124]:
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')

In [125]:
df

           date  req_res  day
0    2012-11-01    419.5    1
4    2012-11-05    419.5    5
9    2012-11-10    419.5   10
14   2012-11-15    419.5   15
19   2012-11-20    419.5   20
24   2012-11-25    419.5   25
27   2012-11-28    419.5   28
30   2012-12-01    425.6    1
34   2012-12-05    425.6    5
39   2012-12-10    425.6   10
44   2012-12-15    425.6   15
49   2012-12-20    425.6   20
54   2012-12-25    425.6   25
57   2012-12-28    425.6   28
61   2013-01-01    441.0    1
65   2013-01-05    441.0    5
70   2013-01-10    441.0   10
75   2013-01-15    441.0   15
80   2013-01-20    441.0   20
85   2013-01-25    441.0   25
88   2013-01-28    441.0   28
92   2013-02-01    446.7    1
96   2013-02-05    446.7    5
101  2013-02-10    446.7   10
106  2013-02-15    446.7   15
111  2013-02-20    446.7   20
116  2013-02-25    446.7   25
119  2013-02-28    446.7   28
120  2013-03-01    449.5    1
124  2013-03-05    449.5    5
...         ...      ...  ...
2644 2020-01-28    617.6   28
2648 2020-02-01    612.7    1
2652 2020-02-05    612.7    5
2657 2020-02-10    612.7   10
2662 2020-02-15    612.7   15
2667 2020-02-20    612.7   20
2672 2020-02-25    612.7   25
2675 2020-02-28    612.7   28
2677 2020-03-01    622.0    1
2681 2020-03-05    622.0    5
2686 2020-03-10    622.0   10
2691 2020-03-15    622.0   15
2696 2020-03-20    622.0   20
2701 2020-03-25    622.0   25
2704 2020-03-28    622.0   28
2708 2020-04-01    664.8    1
2712 2020-04-05    664.8    5
2717 2020-04-10    664.8   10
2722 2020-04-15    664.8   15
2727 2020-04-20    664.8   20
2732 2020-04-25    664.8   25
2735 2020-04-28    664.8   28
2738 2020-05-01    671.3    1
2742 2020-05-05    671.3    5
2747 2020-05-10    671.3   10
2752 2020-05-15    671.3   15
2757 2020-05-20    671.3   20
2762 2020-05-25    671.3   25
2765 2020-05-28    671.3   28
2769 2020-06-01    656.3    1

[638 rows x 3 columns]

In [126]:
df = df[['date', 'req_res'] ]

In [127]:
df.to_csv('05_req_res.csv', index = False)

In [129]:
df = pd.read_excel('06_act_bal.xlsx')
df['date'] = df['date'].map(lambda x: pd.datetime(x.year, x.month, 1))
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))

In [131]:
r = pd.date_range(start=df.date.min(), end=df.date.max())
df = df.set_index('date').reindex(r).fillna(method='ffill').rename_axis('date').reset_index()
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')

In [132]:
df

           date      act_bal  day
0    2012-01-01   773.604839    1
4    2012-01-05   773.604839    5
9    2012-01-10   773.604839   10
14   2012-01-15   773.604839   15
19   2012-01-20   773.604839   20
24   2012-01-25   773.604839   25
27   2012-01-28   773.604839   28
31   2012-02-01   724.719643    1
35   2012-02-05   724.719643    5
40   2012-02-10   724.719643   10
45   2012-02-15   724.719643   15
50   2012-02-20   724.719643   20
55   2012-02-25   724.719643   25
58   2012-02-28   724.719643   28
60   2012-03-01   710.166129    1
64   2012-03-05   710.166129    5
69   2012-03-10   710.166129   10
74   2012-03-15   710.166129   15
79   2012-03-20   710.166129   20
84   2012-03-25   710.166129   25
87   2012-03-28   710.166129   28
91   2012-04-01   692.868333    1
95   2012-04-05   692.868333    5
100  2012-04-10   692.868333   10
105  2012-04-15   692.868333   15
110  2012-04-20   692.868333   20
115  2012-04-25   692.868333   25
118  2012-04-28   692.868333   28
121  2012-05-01   688.533871    1
125  2012-05-05   688.533871    5
...         ...          ...  ...
2949 2020-01-28  2479.300000   28
2953 2020-02-01  2474.100000    1
2957 2020-02-05  2474.100000    5
2962 2020-02-10  2474.100000   10
2967 2020-02-15  2474.100000   15
2972 2020-02-20  2474.100000   20
2977 2020-02-25  2474.100000   25
2980 2020-02-28  2474.100000   28
2982 2020-03-01  2536.400000    1
2986 2020-03-05  2536.400000    5
2991 2020-03-10  2536.400000   10
2996 2020-03-15  2536.400000   15
3001 2020-03-20  2536.400000   20
3006 2020-03-25  2536.400000   25
3009 2020-03-28  2536.400000   28
3013 2020-04-01  2684.800000    1
3017 2020-04-05  2684.800000    5
3022 2020-04-10  2684.800000   10
3027 2020-04-15  2684.800000   15
3032 2020-04-20  2684.800000   20
3037 2020-04-25  2684.800000   25
3040 2020-04-28  2684.800000   28
3043 2020-05-01  2699.500000    1
3047 2020-05-05  2699.500000    5
3052 2020-05-10  2699.500000   10
3057 2020-05-15  2699.500000   15
3062 2020-05-20  2699.500000   20
3067 2020-05-25  2699.500000   25
3070 2020-05-28  2699.500000   28
3074 2020-06-01  2635.700000    1

[708 rows x 3 columns]

In [133]:
df = df[['date', 'act_bal'] ]
df.to_csv('06_act_bal.csv', index = False)

In [147]:
df = pd.read_excel('07_org_num.xlsx')
df['date'] = df['date'].map(lambda x: pd.datetime(x.year, x.month, 1))
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))

In [148]:
r = pd.date_range(start=df.date.min(), end=df.date.max())
df = df.set_index('date').reindex(r).fillna(method='ffill').rename_axis('date').reset_index()
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')

In [149]:
df

           date  org_num  day
0    2012-01-01    980.0    1
4    2012-01-05    980.0    5
9    2012-01-10    980.0   10
14   2012-01-15    980.0   15
19   2012-01-20    980.0   20
24   2012-01-25    980.0   25
27   2012-01-28    980.0   28
31   2012-02-01    977.0    1
35   2012-02-05    977.0    5
40   2012-02-10    977.0   10
45   2012-02-15    977.0   15
50   2012-02-20    977.0   20
55   2012-02-25    977.0   25
58   2012-02-28    977.0   28
60   2012-03-01    977.0    1
64   2012-03-05    977.0    5
69   2012-03-10    977.0   10
74   2012-03-15    977.0   15
79   2012-03-20    977.0   20
84   2012-03-25    977.0   25
87   2012-03-28    977.0   28
91   2012-04-01    974.0    1
95   2012-04-05    974.0    5
100  2012-04-10    974.0   10
105  2012-04-15    974.0   15
110  2012-04-20    974.0   20
115  2012-04-25    974.0   25
118  2012-04-28    974.0   28
121  2012-05-01    970.0    1
125  2012-05-05    970.0    5
...         ...      ...  ...
2949 2020-01-28    437.0   28
2953 2020-02-01    436.0    1
2957 2020-02-05    436.0    5
2962 2020-02-10    436.0   10
2967 2020-02-15    436.0   15
2972 2020-02-20    436.0   20
2977 2020-02-25    436.0   25
2980 2020-02-28    436.0   28
2982 2020-03-01    436.0    1
2986 2020-03-05    436.0    5
2991 2020-03-10    436.0   10
2996 2020-03-15    436.0   15
3001 2020-03-20    436.0   20
3006 2020-03-25    436.0   25
3009 2020-03-28    436.0   28
3013 2020-04-01    434.0    1
3017 2020-04-05    434.0    5
3022 2020-04-10    434.0   10
3027 2020-04-15    434.0   15
3032 2020-04-20    434.0   20
3037 2020-04-25    434.0   25
3040 2020-04-28    434.0   28
3043 2020-05-01    429.0    1
3047 2020-05-05    429.0    5
3052 2020-05-10    429.0   10
3057 2020-05-15    429.0   15
3062 2020-05-20    429.0   20
3067 2020-05-25    429.0   25
3070 2020-05-28    429.0   28
3074 2020-06-01    428.0    1

[708 rows x 3 columns]

In [150]:
df = df[['date', 'org_num'] ]
df.to_csv('07_org_num.csv', index = False)

In [157]:
df = pd.read_excel('08_rep_vol.xlsx')
df['date'] = df['date'].map(lambda x: pd.datetime(x.year, x.month, 1))
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))

In [158]:
r = pd.date_range(start=df.date.min(), end=df.date.max())
df = df.set_index('date').reindex(r).fillna(method='ffill').rename_axis('date').reset_index()
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')

In [159]:
df

           date    rep_vol  day
0    2013-10-01  2554556.0    1
4    2013-10-05  2554556.0    5
9    2013-10-10  2554556.0   10
14   2013-10-15  2554556.0   15
19   2013-10-20  2554556.0   20
24   2013-10-25  2554556.0   25
27   2013-10-28  2554556.0   28
31   2013-11-01  2396221.0    1
35   2013-11-05  2396221.0    5
40   2013-11-10  2396221.0   10
45   2013-11-15  2396221.0   15
50   2013-11-20  2396221.0   20
55   2013-11-25  2396221.0   25
58   2013-11-28  2396221.0   28
61   2013-12-01  2719845.0    1
65   2013-12-05  2719845.0    5
70   2013-12-10  2719845.0   10
75   2013-12-15  2719845.0   15
80   2013-12-20  2719845.0   20
85   2013-12-25  2719845.0   25
88   2013-12-28  2719845.0   28
92   2014-01-01  3139666.0    1
96   2014-01-05  3139666.0    5
101  2014-01-10  3139666.0   10
106  2014-01-15  3139666.0   15
111  2014-01-20  3139666.0   20
116  2014-01-25  3139666.0   25
119  2014-01-28  3139666.0   28
123  2014-02-01  2922692.0    1
127  2014-02-05  2922692.0    5
...         ...        ...  ...
2370 2020-03-28      199.0   28
2374 2020-04-01   894661.0    1
2378 2020-04-05   894661.0    5
2383 2020-04-10   894661.0   10
2388 2020-04-15   894661.0   15
2393 2020-04-20   894661.0   20
2398 2020-04-25   894661.0   25
2401 2020-04-28   894661.0   28
2404 2020-05-01   526021.0    1
2408 2020-05-05   526021.0    5
2413 2020-05-10   526021.0   10
2418 2020-05-15   526021.0   15
2423 2020-05-20   526021.0   20
2428 2020-05-25   526021.0   25
2431 2020-05-28   526021.0   28
2435 2020-06-01       56.0    1
2439 2020-06-05       56.0    5
2444 2020-06-10       56.0   10
2449 2020-06-15       56.0   15
2454 2020-06-20       56.0   20
2459 2020-06-25       56.0   25
2462 2020-06-28       56.0   28
2465 2020-07-01     5105.0    1
2469 2020-07-05     5105.0    5
2474 2020-07-10     5105.0   10
2479 2020-07-15     5105.0   15
2484 2020-07-20     5105.0   20
2489 2020-07-25     5105.0   25
2492 2020-07-28     5105.0   28
2496 2020-08-01     5124.0    1

[575 rows x 3 columns]

In [160]:
df = df[['date', 'rep_vol'] ]
df.to_csv('08_rep_vol.csv', index = False)

In [162]:
df = pd.read_excel('09_sal_vol.xlsx')

In [163]:
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')
df = df[['date', 'sal_vol'] ]

In [ ]:
df

In [165]:
df.to_csv('09_sal_vol.csv', index = False)

In [172]:
df = pd.read_excel('10_res_gol.xlsx')
df['date'] = df['date'].map(lambda x: pd.datetime(x.year, x.month, 1))
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df.sort_values(by='date')

In [173]:
r = pd.date_range(start=df.date.min(), end=df.date.max())
df = df.set_index('date').reindex(r).fillna(method='ffill').rename_axis('date').reset_index()
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')

In [174]:
df

           date   res_gol  day
0    2013-09-01   45472.0    1
4    2013-09-05   45472.0    5
9    2013-09-10   45472.0   10
14   2013-09-15   45472.0   15
19   2013-09-20   45472.0   20
24   2013-09-25   45472.0   25
27   2013-09-28   45472.0   28
30   2013-10-01   43129.0    1
34   2013-10-05   43129.0    5
39   2013-10-10   43129.0   10
44   2013-10-15   43129.0   15
49   2013-10-20   43129.0   20
54   2013-10-25   43129.0   25
57   2013-10-28   43129.0   28
61   2013-11-01   44045.0    1
65   2013-11-05   44045.0    5
70   2013-11-10   44045.0   10
75   2013-11-15   44045.0   15
80   2013-11-20   44045.0   20
85   2013-11-25   44045.0   25
88   2013-11-28   44045.0   28
91   2013-12-01   40640.0    1
95   2013-12-05   40640.0    5
100  2013-12-10   40640.0   10
105  2013-12-15   40640.0   15
110  2013-12-20   40640.0   20
115  2013-12-25   40640.0   25
118  2013-12-28   40640.0   28
122  2014-01-01   39990.0    1
126  2014-01-05   39990.0    5
...         ...       ...  ...
2400 2020-03-28  119752.0   28
2404 2020-04-01  119840.0    1
2408 2020-04-05  119840.0    5
2413 2020-04-10  119840.0   10
2418 2020-04-15  119840.0   15
2423 2020-04-20  119840.0   20
2428 2020-04-25  119840.0   25
2431 2020-04-28  119840.0   28
2434 2020-05-01  126084.0    1
2438 2020-05-05  126084.0    5
2443 2020-05-10  126084.0   10
2448 2020-05-15  126084.0   15
2453 2020-05-20  126084.0   20
2458 2020-05-25  126084.0   25
2461 2020-05-28  126084.0   28
2465 2020-06-01  127566.0    1
2469 2020-06-05  127566.0    5
2474 2020-06-10  127566.0   10
2479 2020-06-15  127566.0   15
2484 2020-06-20  127566.0   20
2489 2020-06-25  127566.0   25
2492 2020-06-28  127566.0   28
2495 2020-07-01  130790.0    1
2499 2020-07-05  130790.0    5
2504 2020-07-10  130790.0   10
2509 2020-07-15  130790.0   15
2514 2020-07-20  130790.0   20
2519 2020-07-25  130790.0   25
2522 2020-07-28  130790.0   28
2526 2020-08-01  144322.0    1

[582 rows x 3 columns]

In [175]:
df = df[['date', 'res_gol'] ]
df.to_csv('10_res_gol.csv', index = False)

In [177]:
df = pd.read_excel('11_kop_dep.xlsx')
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')
df = df[['date', 'kop_dep'] ]

In [178]:
df

           date     kop_dep
1653 2013-12-20   104748.56
1650 2013-12-25    97507.40
1644 2014-01-10   249552.32
1641 2014-01-15   136797.77
1638 2014-01-20   118473.25
1632 2014-01-28   114920.59
1626 2014-02-05    62602.95
1623 2014-02-10   114994.04
1615 2014-02-20    71068.19
1612 2014-02-25    66443.64
1609 2014-02-28    77589.55
1606 2014-03-05    72984.22
1596 2014-03-20    74042.00
1593 2014-03-25    74372.97
1590 2014-03-28    73686.22
1588 2014-04-01   118676.63
1581 2014-04-10   422168.64
1578 2014-04-15    76555.17
1570 2014-04-25    67642.20
1569 2014-04-28    72178.24
1566 2014-05-05    98451.26
1559 2014-05-15    64863.78
1556 2014-05-20    62853.82
1550 2014-05-28    74330.66
1544 2014-06-05    70404.57
1541 2014-06-10    76135.25
1535 2014-06-20    68066.64
1532 2014-06-25   132484.50
1528 2014-07-01    88965.68
1521 2014-07-10   285541.78
...         ...         ...
128  2020-02-25  2310231.65
125  2020-02-28  2053563.77
121  2020-03-05  1902526.55
119  2020-03-10  1912453.43
111  2020-03-20  2501622.22
108  2020-03-25  2860509.99
103  2020-04-01  1834005.45
96   2020-04-10  1211620.37
91   2020-04-15  1236654.37
87   2020-04-20  1254042.39
82   2020-04-25   789882.80
80   2020-04-28   774150.43
77   2020-05-01   670077.52
76   2020-05-05   675148.20
72   2020-05-10   897922.37
68   2020-05-15   687417.48
63   2020-05-20   683200.99
59   2020-05-25   854870.51
56   2020-05-28   909358.64
53   2020-06-01   895955.14
49   2020-06-05   943561.43
45   2020-06-10  2128644.62
43   2020-06-15  1591854.40
36   2020-06-25  1271010.82
26   2020-07-10  1444741.23
23   2020-07-15  1439472.27
20   2020-07-20  1831875.99
14   2020-07-28  1570877.45
8    2020-08-05  2756395.28
5    2020-08-10  1825027.12

[384 rows x 2 columns]

In [179]:
df.to_csv('11_kop_dep.csv', index = False)

In [182]:
df = pd.read_excel('12_res_res.xlsx')
df['date'] = df['date'].map(lambda x: pd.datetime(x.year, x.month, 1))
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df.sort_values(by='date')

In [183]:
r = pd.date_range(start=df.date.min(), end=df.date.max())
df = df.set_index('date').reindex(r).fillna(method='ffill').rename_axis('date').reset_index()
df['day'] = df['date']
df['day'] = (df.apply(lambda x: x['day'].day, axis=1))
df = df[df['day'].isin(day_points)]
df = df.sort_values(by='date')

In [184]:
df = df[['date', 'res_res'] ]
df.to_csv('12_res_res.csv', index = False)